@tape-frame-width: 2em;
@tape-frame-bottom-times: 3;
@tape-frame-bottom-height: @tape-frame-width * @tape-frame-bottom-times;
@tape-color: #3e3e3e;
@tape-layout-z-index: 0;
.tape-background(@deg: 0deg) {
    background: 
        repeating-linear-gradient(@deg, @tape-color, @tape-color 2px, transparent, transparent 3px), 
        repeating-linear-gradient(@deg - 90, @tape-color, @tape-color 2px, white, white 3px);
}

@holder-height-times: 2.5;
@holder-height: @tape-frame-width * @holder-height-times;
@holder-width-percentage: 40%;
@holder-side-rotate-degree: 11.5deg;
@holder-left-margin: (100% - @holder-width-percentage) * 0.5;

@nail-size: 1em;

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    overflow: hidden;
}

.tape {

    &__frame {
    
        width: 100%;
        position: absolute;
        .tape-background();
        
        &--left {
            left: 0;
            top: @tape-frame-width;
            bottom: @tape-frame-bottom-height;
            width: @tape-frame-width;
        }
        
        &--right {
            right: 0;
            top: @tape-frame-width;
            bottom: @tape-frame-bottom-height;
            width: @tape-frame-width
        }
        
        &--top {
            left: 0;
            top: 0;
            height: @tape-frame-width;
        }
        
        &--bottom {
            left: 0;
            bottom: 0;
            z-index : @tape-layout-z-index;
            height: @tape-frame-bottom-height;
        }
        
        .frame-corner(@rotate-angle) {
            content: "";
            position: absolute;
            width: @tape-frame-width * 2;
            height: @tape-frame-width * 2;
            top: 0.06em;
            transform: rotate(@rotate-angle);
            .tape-background(45deg);
        }
        
        &-cornor {
            &--left {
                .frame-corner(45deg);
                left: 0;
            }
            
            &--right {
                .frame-corner(-45deg);
                right: -0.03em;
            }
        }
    }
    
    &__holder {
    
        .holder-side(@rotate-degree) {
            position: absolute;
            width: @tape-frame-width * @holder-height-times;
            height: 1 / cos(@rotate-degree) / @tape-frame-width * @holder-height-times * @holder-height-times * 1.7;
            transform: rotate(@rotate-degree);      
            .tape-background(-@rotate-degree);
        }
        
        .holder-shadow(@x, @y) {
            box-shadow: @x @y 3px darken(@tape-color, 80%);
        }
    
        position: absolute;
        bottom: 0;
        left: @holder-left-margin;
        height: @holder-height;
        width: @holder-width-percentage;
        z-index : @tape-layout-z-index + 2;
        box-shadow: 0 -0.6em 0.3em -0.4em darken(@tape-color, 80%);
        .tape-background();
        
        &__side:nth-child(1) {
            .holder-side(@holder-side-rotate-degree);
            .holder-shadow(-0.3em, -0.3em);
            transform-origin: top left;
            bottom: -0.5em;
            left: @holder-left-margin;
            z-index : @tape-layout-z-index + 1;
        }
        
        &__side:nth-child(3) {
            .holder-side(-1 * @holder-side-rotate-degree);
            .holder-shadow(0.3em, -0.3em);
            transform-origin: top right;
            bottom: -0.5em;
            right: @holder-left-margin;
            z-index : @tape-layout-z-index + 1;
        }
    }
    
    &__nail {
    
        height: @nail-size * 1.5;
        width: @nail-size * 1.5;
        border-radius: 50%;
        border: solid 0.3em darken(silver, 20%);
        background-color: silver;
        position: absolute;
        z-index: @tape-layout-z-index + 5;
        
        .nail-cross(@rotate-deg) {
            content: "";
            position: absolute;
            background-color: darken(silver, 45%);
            transform: rotate(@rotate-deg);
            height: @nail-size;
            top: @nail-size * 0.25;
            width: 28%;
            left: @nail-size * 0.55;
        }
        
        &::before {
            .nail-cross(45deg);
        }
        
        &::after {
            .nail-cross(-45deg);
        }
    
        &.top {
            top: 1em;
        }
        
        &.bottom {
            bottom: 1em;
        }
        
        &.left {
            left: 1em;
        }
        
        &.right {
            right: 1em;
        }
        
        .tape__holder & {
            margin: auto;
            position: absolute;
            top: @holder-height * 0.2; 
            left: 0;
            right: 0;
        }
    }
    
    &__hole {
    
        @tape-hole-square-size: 1.5em;
        @tape-hole-circle-size: 2em;
        @tape-hole-circle-side-margin: 12.5%;
        @tape-hole-square-side-margin: 28%;
        
        background-color: darken(@tape-color, 80%);
        position: absolute;
    
        &--square {
            border-radius: 25%;
            width: @tape-hole-square-size;
            height: @tape-hole-square-size;
        }
        
        &--circle {
            border-radius: 50%;
            width: @tape-hole-circle-size;
            height: @tape-hole-circle-size;
        }
        
        &:nth-child(1) {
            bottom: 10%;
            left: @tape-hole-circle-side-margin;
        }
        
        &:nth-child(2) {
            bottom: 22%;
            left: @tape-hole-square-side-margin;
        }
        
        &:nth-child(3) {
            bottom: 22%;
            right: @tape-hole-square-side-margin;
        }
        
        &:nth-child(4) {
            bottom: 10%;
            right: @tape-hole-circle-side-margin;
        }    
    }
}

#map { 
    height: 100%;
}

audio {
    position: absolute;
    z-index: @tape-layout-z-index + 2;
    width: @holder-width-percentage;
    margin-left: @holder-left-margin;
    bottom: @tape-frame-bottom-height + 1em;
    height: 3em;
}

body.homepage {
    overflow: auto;
    background-image: url('image/wood.jpg');
}

.tape-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.tape {

    flex: initial;
    text-align: center;
    margin: 15px 15px 0 15px;
    background-color: rgba(242, 242, 242, .6);
    padding: 1em;
    border-radius: 7px;
    min-width: 16em;
    max-width: 25em;
    
    &__caption {
        font-size: 1.2em;
        display: inline-block;
        border-radius: 7px;
        background-color: #FDE859;
        margin: 0 1em 1em 1em;
        padding: 1em;
        flex: 0;
        min-height: 2em;
        width: 80%;
    }
    
    &__cover {
        width: 100%;
    }
}

@switch-line-height: 2em;

.switch {
    padding: 0 7px;
    font-size: 2em;
    background-color: #006600;
    color: white;
    border-radius: 9px;
    display: none;
    
    text-align: center;
    line-height: @switch-line-height;
    
    position: absolute;
    z-index: @tape-layout-z-index + 2;
    margin-left: @holder-left-margin;
    bottom: @tape-frame-bottom-height;
}